@model CourseWork.ViewModels.RegisterViewModel

<h4>Registration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <div>
                    <label asp-for="Email">Enter Email</label><br />
                    <input type="text" asp-for="Email" />
                    <span asp-validation-for="Email" />
                </div>
                <div>
                    <label asp-for="Password">Enter password</label><br />
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" />
                </div>
                <div>
                    <label asp-for="ConfirmPassword">Enter password</label><br />
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" />
                </div>
                <p></p>
                <div class="form-group">
                    <input type="submit" value="Registration" class="btn btn-outline-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
@Html.ValidationMessageFor(m => m.Email)
@Html.ValidationMessageFor(m => m.Password)
@Html.ValidationMessageFor(m => m.ConfirmPassword)
